<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bag_Bg_Little1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,25},{461,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{461,128}}</string>
                <key>sourceSize</key>
                <string>{461,128}</string>
            </dict>
            <key>Bag_Buy_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,553},{109,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{109,56}}</string>
                <key>sourceSize</key>
                <string>{109,58}</string>
            </dict>
            <key>Bag_Buy_Btn_Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,664},{109,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{109,56}}</string>
                <key>sourceSize</key>
                <string>{111,56}</string>
            </dict>
            <key>Bag_Compose_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{109,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{109,53}}</string>
                <key>sourceSize</key>
                <string>{111,53}</string>
            </dict>
            <key>Bag_Compose_Btn_Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,619},{111,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,53}}</string>
                <key>sourceSize</key>
                <string>{111,53}</string>
            </dict>
            <key>Bag_Equip_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,220},{109,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,58}}</string>
                <key>sourceSize</key>
                <string>{109,58}</string>
            </dict>
            <key>Bag_Equip_Btn_Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{109,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{109,56}}</string>
                <key>sourceSize</key>
                <string>{111,56}</string>
            </dict>
            <key>Bag_Equip_Txt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,610},{54,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,16}}</string>
                <key>sourceSize</key>
                <string>{54,16}</string>
            </dict>
            <key>Bag_Equip_Txt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,666},{54,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,16}}</string>
                <key>sourceSize</key>
                <string>{54,16}</string>
            </dict>
            <key>Bag_Equip_Txt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,722},{54,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,16}}</string>
                <key>sourceSize</key>
                <string>{54,16}</string>
            </dict>
            <key>Bag_Name1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{145,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,21}}</string>
                <key>sourceSize</key>
                <string>{145,21}</string>
            </dict>
            <key>Bag_Prog.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{118,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,17}}</string>
                <key>sourceSize</key>
                <string>{118,17}</string>
            </dict>
            <key>Bag_Strengthen_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,331},{109,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,58}}</string>
                <key>sourceSize</key>
                <string>{109,58}</string>
            </dict>
            <key>Bag_Strengthen_Btn_Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,507},{111,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,54}}</string>
                <key>sourceSize</key>
                <string>{111,54}</string>
            </dict>
            <key>Bag_Strengthen_Max_Btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,563},{111,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,54}}</string>
                <key>sourceSize</key>
                <string>{111,54}</string>
            </dict>
            <key>Bag_Strengthen_Txt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,778},{36,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,16}}</string>
                <key>sourceSize</key>
                <string>{36,16}</string>
            </dict>
            <key>Bag_Strengthen_Txt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,816},{36,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,16}}</string>
                <key>sourceSize</key>
                <string>{36,16}</string>
            </dict>
            <key>Bag_Strengthen_Txt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,553},{55,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,16}}</string>
                <key>sourceSize</key>
                <string>{55,16}</string>
            </dict>
            <key>Bag_Title1_Dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,913},{93,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,38}}</string>
                <key>sourceSize</key>
                <string>{93,38}</string>
            </dict>
            <key>Bag_Title1_Light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,829},{101,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{101,40}}</string>
                <key>sourceSize</key>
                <string>{103,40}</string>
            </dict>
            <key>Bag_Title2_Dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,913},{93,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,38}}</string>
                <key>sourceSize</key>
                <string>{93,38}</string>
            </dict>
            <key>Bag_Title2_Light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,871},{101,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{101,40}}</string>
                <key>sourceSize</key>
                <string>{103,40}</string>
            </dict>
            <key>Bag_Title3_Dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,953},{93,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,38}}</string>
                <key>sourceSize</key>
                <string>{93,38}</string>
            </dict>
            <key>Bag_Title3_Light.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{103,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,40}}</string>
                <key>sourceSize</key>
                <string>{103,40}</string>
            </dict>
            <key>Bag_Title4_Dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,953},{93,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,38}}</string>
                <key>sourceSize</key>
                <string>{93,38}</string>
            </dict>
            <key>Bag_Title4_Light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,787},{103,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,40}}</string>
                <key>sourceSize</key>
                <string>{103,40}</string>
            </dict>
            <key>Bag_Upgrade_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,442},{109,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{109,58}}</string>
                <key>sourceSize</key>
                <string>{111,58}</string>
            </dict>
            <key>Bag_Upgrade_Btn_Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,107},{111,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,58}}</string>
                <key>sourceSize</key>
                <string>{111,58}</string>
            </dict>
            <key>Close_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,775},{80,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,45}}</string>
                <key>sourceSize</key>
                <string>{80,45}</string>
            </dict>
            <key>Close_Btn_Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,857},{80,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,45}}</string>
                <key>sourceSize</key>
                <string>{80,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Bag.png</string>
            <key>size</key>
            <string>{192,993}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:465f9464e2188edf55731a62c330e57d:438bcfe5775708d6fbb586cd88727f27:8ee646d56ca4d680247cba92519ea76c$</string>
            <key>textureFileName</key>
            <string>Bag.png</string>
        </dict>
    </dict>
</plist>
