<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Avatar_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,379},{116,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,118}}</string>
                <key>sourceSize</key>
                <string>{116,118}</string>
            </dict>
            <key>Avatar_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,379},{116,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,118}}</string>
                <key>sourceSize</key>
                <string>{116,118}</string>
            </dict>
            <key>Avatar_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,246},{116,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,118}}</string>
                <key>sourceSize</key>
                <string>{116,118}</string>
            </dict>
            <key>Back_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,395},{119,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,69}}</string>
                <key>sourceSize</key>
                <string>{119,69}</string>
            </dict>
            <key>Back_Btn_Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,395},{119,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,69}}</string>
                <key>sourceSize</key>
                <string>{119,69}</string>
            </dict>
            <key>Black_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1721,272},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>Box_Bg_Off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1854,414},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>Box_Bg_On.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,471},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>Buyplane_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{540,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,391}}</string>
                <key>sourceSize</key>
                <string>{540,391}</string>
            </dict>
            <key>Buyplane_Box_Img.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Cancel_Sure_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,379},{110,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,58}}</string>
                <key>sourceSize</key>
                <string>{110,58}</string>
            </dict>
            <key>Cancel_Sure_Btn_Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,444},{110,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,58}}</string>
                <key>sourceSize</key>
                <string>{110,58}</string>
            </dict>
            <key>Close_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,425},{80,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,45}}</string>
                <key>sourceSize</key>
                <string>{80,45}</string>
            </dict>
            <key>Close_Btn_Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,424},{80,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,45}}</string>
                <key>sourceSize</key>
                <string>{80,45}</string>
            </dict>
            <key>Com_Bag_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,395},{119,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,69}}</string>
                <key>sourceSize</key>
                <string>{119,69}</string>
            </dict>
            <key>Com_Bag_Btn_Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1471,425},{119,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,69}}</string>
                <key>sourceSize</key>
                <string>{119,69}</string>
            </dict>
            <key>Com_Btn_Bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1471,300},{147,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,123}}</string>
                <key>sourceSize</key>
                <string>{147,123}</string>
            </dict>
            <key>Continue_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,2},{280,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,63}}</string>
                <key>sourceSize</key>
                <string>{280,63}</string>
            </dict>
            <key>Continue_Btn_Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,395},{280,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,63}}</string>
                <key>sourceSize</key>
                <string>{280,63}</string>
            </dict>
            <key>Daily_Prop_Diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,124},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Daily_Prop_Gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,379},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>GameUI_Dialogbox_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,2},{540,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,157}}</string>
                <key>sourceSize</key>
                <string>{540,157}</string>
            </dict>
            <key>General_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,300},{400,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,142}}</string>
                <key>sourceSize</key>
                <string>{400,142}</string>
            </dict>
            <key>Guide_Arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1639,412},{84,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,81}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>Logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,198},{523,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{523,179}}</string>
                <key>sourceSize</key>
                <string>{523,179}</string>
            </dict>
            <key>MainUI_Diamond_Img.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,424},{45,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,48}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>MainUI_Score_Img.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,364},{45,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,48}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>MainUI_Screen.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{540,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,194}}</string>
                <key>sourceSize</key>
                <string>{540,194}</string>
            </dict>
            <key>MainUI_VIP_Img.png</key>
            <dict>
                <key>frame</key>
                <string>{{1693,204},{66,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,57}}</string>
                <key>sourceSize</key>
                <string>{66,57}</string>
            </dict>
            <key>MainUI_VIP_Img_Disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,444},{66,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,57}}</string>
                <key>sourceSize</key>
                <string>{66,57}</string>
            </dict>
            <key>Quit_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1359,444},{110,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,58}}</string>
                <key>sourceSize</key>
                <string>{110,58}</string>
            </dict>
            <key>Quit_Btn_Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,300},{110,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,58}}</string>
                <key>sourceSize</key>
                <string>{110,58}</string>
            </dict>
            <key>Reward_Back_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,161},{540,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,137}}</string>
                <key>sourceSize</key>
                <string>{540,137}</string>
            </dict>
            <key>Shop_Buy_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,466},{121,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,44}}</string>
                <key>sourceSize</key>
                <string>{121,44}</string>
            </dict>
            <key>Shop_Buy_Btn_Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,466},{121,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,44}}</string>
                <key>sourceSize</key>
                <string>{121,44}</string>
            </dict>
            <key>Shop_Rmb_Img.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{14,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,19}}</string>
                <key>sourceSize</key>
                <string>{14,19}</string>
            </dict>
            <key>Stage_Star_Dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,471},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Stage_Star_Light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,471},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Strengthen_Btn2_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,466},{121,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,44}}</string>
                <key>sourceSize</key>
                <string>{121,44}</string>
            </dict>
            <key>Strengthen_Btn2_Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,444},{121,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,44}}</string>
                <key>sourceSize</key>
                <string>{121,44}</string>
            </dict>
            <key>Sure_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,284},{110,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,58}}</string>
                <key>sourceSize</key>
                <string>{110,58}</string>
            </dict>
            <key>Sure_Btn_Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,364},{110,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,58}}</string>
                <key>sourceSize</key>
                <string>{110,58}</string>
            </dict>
            <key>activity1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1693,272},{10,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,12}}</string>
                <key>sourceSize</key>
                <string>{10,12}</string>
            </dict>
            <key>activity2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1707,272},{10,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,12}}</string>
                <key>sourceSize</key>
                <string>{10,12}</string>
            </dict>
            <key>buy-fail.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{132,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,34}}</string>
                <key>sourceSize</key>
                <string>{132,34}</string>
            </dict>
            <key>buy-success.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,460},{131,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,34}}</string>
                <key>sourceSize</key>
                <string>{131,34}</string>
            </dict>
            <key>light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1693,2},{57,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,200}}</string>
                <key>sourceSize</key>
                <string>{57,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common.png</string>
            <key>size</key>
            <string>{1900,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f095cd7e52385a4e8bdd8bde399cbd5:4bebe4dd35b9508d36967a9bed47af1c:593cab8d2a050374f0ff2769c430fb21$</string>
            <key>textureFileName</key>
            <string>Common.png</string>
        </dict>
    </dict>
</plist>
