<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{41,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,69}}</string>
                <key>sourceSize</key>
                <string>{41,69}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,101},{65,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,69}}</string>
                <key>sourceSize</key>
                <string>{65,69}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,101},{65,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,69}}</string>
                <key>sourceSize</key>
                <string>{65,69}</string>
            </dict>
            <key>GameUI_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,32},{528,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,65}}</string>
                <key>sourceSize</key>
                <string>{528,65}</string>
            </dict>
            <key>GameUI_Boss_Blood_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,32},{410,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,40}}</string>
                <key>sourceSize</key>
                <string>{410,40}</string>
            </dict>
            <key>GameUI_Boss_Blood_Prog_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,2},{396,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,28}}</string>
                <key>sourceSize</key>
                <string>{396,28}</string>
            </dict>
            <key>GameUI_Boss_Blood_Prog_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{396,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,28}}</string>
                <key>sourceSize</key>
                <string>{396,28}</string>
            </dict>
            <key>GameUI_Boss_Blood_Prog_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,2},{396,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,28}}</string>
                <key>sourceSize</key>
                <string>{396,28}</string>
            </dict>
            <key>GameUI_Combo_Txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{76,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,38}}</string>
                <key>sourceSize</key>
                <string>{76,38}</string>
            </dict>
            <key>GameUI_Diamond_Img.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>GameUI_Gift2_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,101},{93,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,72}}</string>
                <key>sourceSize</key>
                <string>{93,72}</string>
            </dict>
            <key>GameUI_Gift2_Bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,101},{126,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,104}}</string>
                <key>sourceSize</key>
                <string>{126,104}</string>
            </dict>
            <key>GameUI_Gift2_Light.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,101},{144,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,73}}</string>
                <key>sourceSize</key>
                <string>{144,73}</string>
            </dict>
            <key>GameUI_Km_Txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,2},{53,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,27}}</string>
                <key>sourceSize</key>
                <string>{53,27}</string>
            </dict>
            <key>GameUI_Mult.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,2},{24,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,23}}</string>
                <key>sourceSize</key>
                <string>{24,23}</string>
            </dict>
            <key>GameUI_Nuclear_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,101},{85,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,76}}</string>
                <key>sourceSize</key>
                <string>{85,76}</string>
            </dict>
            <key>GameUI_Nuclear_Btn_Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,101},{85,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,76}}</string>
                <key>sourceSize</key>
                <string>{85,76}</string>
            </dict>
            <key>GameUI_Pause_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,32},{57,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,48}}</string>
                <key>sourceSize</key>
                <string>{57,48}</string>
            </dict>
            <key>GameUI_Pause_Btn_Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,32},{59,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,50}}</string>
                <key>sourceSize</key>
                <string>{59,50}</string>
            </dict>
            <key>GameUI_Score_Img.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>GameUI_Shield_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,101},{85,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,76}}</string>
                <key>sourceSize</key>
                <string>{85,76}</string>
            </dict>
            <key>GameUI_Shield_Btn_Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,101},{85,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,76}}</string>
                <key>sourceSize</key>
                <string>{85,76}</string>
            </dict>
            <key>GameUI_Shop_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,32},{57,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,48}}</string>
                <key>sourceSize</key>
                <string>{57,48}</string>
            </dict>
            <key>GameUI_Shop_Btn_Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,32},{59,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,50}}</string>
                <key>sourceSize</key>
                <string>{59,50}</string>
            </dict>
            <key>GameUI_Wingman_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,101},{85,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,76}}</string>
                <key>sourceSize</key>
                <string>{85,76}</string>
            </dict>
            <key>GameUI_Wingman_Btn_Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,101},{85,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,76}}</string>
                <key>sourceSize</key>
                <string>{85,76}</string>
            </dict>
            <key>Hp_Prog.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,2},{352,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,20}}</string>
                <key>sourceSize</key>
                <string>{352,20}</string>
            </dict>
            <key>Life_Img.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,32},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>achievement_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,32},{306,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,67}}</string>
                <key>sourceSize</key>
                <string>{306,67}</string>
            </dict>
            <key>hp-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,11}}</string>
                <key>sourceSize</key>
                <string>{70,11}</string>
            </dict>
            <key>hp-fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{70,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,11}}</string>
                <key>sourceSize</key>
                <string>{70,11}</string>
            </dict>
            <key>new_gift_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,101},{185,107}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{185,107}}</string>
                <key>sourceSize</key>
                <string>{185,155}</string>
            </dict>
            <key>new_gift_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,32},{185,45}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,39},{185,45}}</string>
                <key>sourceSize</key>
                <string>{185,155}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameUI.png</string>
            <key>size</key>
            <string>{1816,225}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08eac1a1ffa2cd5a4f1f0dc7c0907d4a:9b5fe0af011369a84e3790232376f794:2531ce2a050ca5e2ac51e04161e77adb$</string>
            <key>textureFileName</key>
            <string>GameUI.png</string>
        </dict>
    </dict>
</plist>
