<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Buy2_Btn_Disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1086},{178,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,65}}</string>
                <key>sourceSize</key>
                <string>{178,65}</string>
            </dict>
            <key>Buy2_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1086},{178,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{178,63}}</string>
                <key>sourceSize</key>
                <string>{178,65}</string>
            </dict>
            <key>Buy2_Btn_Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1153},{178,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,65}}</string>
                <key>sourceSize</key>
                <string>{178,65}</string>
            </dict>
            <key>Gift_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,478},{440,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,420}}</string>
                <key>sourceSize</key>
                <string>{440,420}</string>
            </dict>
            <key>Gift_Bg_Duo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{440,616}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,616}}</string>
                <key>sourceSize</key>
                <string>{440,616}</string>
            </dict>
            <key>Gift_Bg_Duo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,900},{440,401}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,401}}</string>
                <key>sourceSize</key>
                <string>{440,401}</string>
            </dict>
            <key>Gift_Bg_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{434,464}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,464}}</string>
                <key>sourceSize</key>
                <string>{434,464}</string>
            </dict>
            <key>Gift_Buy_Btn_Disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1220},{177,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,63}}</string>
                <key>sourceSize</key>
                <string>{177,63}</string>
            </dict>
            <key>Gift_Buy_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1151},{177,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,63}}</string>
                <key>sourceSize</key>
                <string>{177,63}</string>
            </dict>
            <key>Gift_Buy_Btn_Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1285},{177,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,63}}</string>
                <key>sourceSize</key>
                <string>{177,63}</string>
            </dict>
            <key>Gift_Prop_Diamond_Img.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,479},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>Gift_Prop_Life_Img.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,595},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>Gift_Prop_Shield_Img.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,711},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>Gift_Prop_Wingman_Img.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,827},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>Gift_Title_Aircraft.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,1216},{83,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,38}}</string>
                <key>sourceSize</key>
                <string>{83,38}</string>
            </dict>
            <key>Gift_Title_Aircraft_Pkg.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,1198},{129,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,38}}</string>
                <key>sourceSize</key>
                <string>{129,38}</string>
            </dict>
            <key>Gift_Title_Big_Gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,1303},{129,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,38}}</string>
                <key>sourceSize</key>
                <string>{129,38}</string>
            </dict>
            <key>Gift_Title_Duo.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,1343},{98,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,38}}</string>
                <key>sourceSize</key>
                <string>{98,38}</string>
            </dict>
            <key>Gift_Title_Gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,1308},{83,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,38}}</string>
                <key>sourceSize</key>
                <string>{83,38}</string>
            </dict>
            <key>Gift_Title_Hug_Gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1303},{129,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,38}}</string>
                <key>sourceSize</key>
                <string>{129,38}</string>
            </dict>
            <key>Gift_Title_Mid_Gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,1303},{129,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,38}}</string>
                <key>sourceSize</key>
                <string>{129,38}</string>
            </dict>
            <key>Gift_Title_New_Gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,1343},{129,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,38}}</string>
                <key>sourceSize</key>
                <string>{129,38}</string>
            </dict>
            <key>Gift_Title_Revive.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1343},{129,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,38}}</string>
                <key>sourceSize</key>
                <string>{129,38}</string>
            </dict>
            <key>Gift_Title_Vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1351},{122,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,34}}</string>
                <key>sourceSize</key>
                <string>{122,34}</string>
            </dict>
            <key>Redline.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1351},{115,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,34}}</string>
                <key>sourceSize</key>
                <string>{115,34}</string>
            </dict>
            <key>Relife_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{484,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,474}}</string>
                <key>sourceSize</key>
                <string>{484,474}</string>
            </dict>
            <key>Relife_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1086},{110,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,58}}</string>
                <key>sourceSize</key>
                <string>{110,58}</string>
            </dict>
            <key>Relife_Btn_Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,1248},{110,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,58}}</string>
                <key>sourceSize</key>
                <string>{110,58}</string>
            </dict>
            <key>Txt_PriceNow.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1303},{57,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,31}}</string>
                <key>sourceSize</key>
                <string>{57,31}</string>
            </dict>
            <key>Txt_PriceOrig.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,1343},{57,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,31}}</string>
                <key>sourceSize</key>
                <string>{57,31}</string>
            </dict>
            <key>Txt_Yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,1308},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>VIP_Prop_Img1.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,2},{82,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{82,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>VIP_Prop_Img2.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,86},{82,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{82,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>VIP_Prop_Img3.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,170},{82,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{82,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>VIP_Prop_Img4.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,254},{82,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{82,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Vip_Content_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,1334},{147,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,15}}</string>
                <key>sourceSize</key>
                <string>{147,15}</string>
            </dict>
            <key>Vip_Content_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1350},{148,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,16}}</string>
                <key>sourceSize</key>
                <string>{148,16}</string>
            </dict>
            <key>Vip_Content_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1368},{147,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,16}}</string>
                <key>sourceSize</key>
                <string>{147,16}</string>
            </dict>
            <key>Vip_Content_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,338},{129,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,16}}</string>
                <key>sourceSize</key>
                <string>{129,16}</string>
            </dict>
            <key>Vip_Content_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,1096},{147,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,16}}</string>
                <key>sourceSize</key>
                <string>{147,16}</string>
            </dict>
            <key>Vip_Logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,338},{139,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,61}}</string>
                <key>sourceSize</key>
                <string>{139,61}</string>
            </dict>
            <key>Vip_Logo_Disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,1094},{139,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,61}}</string>
                <key>sourceSize</key>
                <string>{139,61}</string>
            </dict>
            <key>Vip_Logo_Txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1216},{149,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,57}}</string>
                <key>sourceSize</key>
                <string>{149,57}</string>
            </dict>
            <key>Vip_Logo_Txt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,1275},{149,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,57}}</string>
                <key>sourceSize</key>
                <string>{149,57}</string>
            </dict>
            <key>Vip_Logo_Txt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,1096},{150,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,58}}</string>
                <key>sourceSize</key>
                <string>{150,58}</string>
            </dict>
            <key>Vip_Relife_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,943},{149,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{149,59}}</string>
                <key>sourceSize</key>
                <string>{151,59}</string>
            </dict>
            <key>Vip_Relife_Btn_Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,943},{151,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,59}}</string>
                <key>sourceSize</key>
                <string>{151,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Gift.png</string>
            <key>size</key>
            <string>{1022,1387}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d1f4996fe74721756a5b6f0b7121a2b:888bec6cf401406d166aa3afcc9a5756:3094e0a985b624aadd7c268c99862499$</string>
            <key>textureFileName</key>
            <string>Gift.png</string>
        </dict>
    </dict>
</plist>
