<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Instruction_Txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{397,613}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{397,613}}</string>
                <key>sourceSize</key>
                <string>{397,613}</string>
            </dict>
            <key>Know_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,401},{280,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,64}}</string>
                <key>sourceSize</key>
                <string>{280,64}</string>
            </dict>
            <key>Know_Btn_Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,401},{280,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,62}}</string>
                <key>sourceSize</key>
                <string>{280,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Instruction.png</string>
            <key>size</key>
            <string>{618,467}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92ba7083711245fdbb893f843c5007f0:4aaf3e3b8192ddb3b9fc241562cde798:3e7bd315f24b90d0706759b0d764211f$</string>
            <key>textureFileName</key>
            <string>Instruction.png</string>
        </dict>
    </dict>
</plist>
