<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pause_Bg_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,415},{269,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,235}}</string>
                <key>sourceSize</key>
                <string>{269,235}</string>
            </dict>
            <key>Pause_Bg_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{269,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,235}}</string>
                <key>sourceSize</key>
                <string>{269,235}</string>
            </dict>
            <key>Pause_Continue_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,63}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{128,63}}</string>
                <key>sourceSize</key>
                <string>{128,69}</string>
            </dict>
            <key>Pause_Continue_Btn_Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,73},{120,69}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{120,69}}</string>
                <key>sourceSize</key>
                <string>{128,69}</string>
            </dict>
            <key>Pause_Giveup_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{127,63}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{127,63}}</string>
                <key>sourceSize</key>
                <string>{127,69}</string>
            </dict>
            <key>Pause_Giveup_Btn_Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{119,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{119,69}}</string>
                <key>sourceSize</key>
                <string>{127,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Pause.png</string>
            <key>size</key>
            <string>{253,686}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aed1ac108e458d11f1ca3a48385dfb87$</string>
            <key>textureFileName</key>
            <string>Pause.png</string>
        </dict>
    </dict>
</plist>
