<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>About_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,356},{113,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,61}}</string>
                <key>sourceSize</key>
                <string>{113,61}</string>
            </dict>
            <key>About_Btn_Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,2},{113,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,63}}</string>
                <key>sourceSize</key>
                <string>{113,63}</string>
            </dict>
            <key>About_Line.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,419},{292,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,1}}</string>
                <key>sourceSize</key>
                <string>{292,1}</string>
            </dict>
            <key>Exchange_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,115},{109,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,56}}</string>
                <key>sourceSize</key>
                <string>{109,56}</string>
            </dict>
            <key>Exchange_Btn_Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,2},{111,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,56}}</string>
                <key>sourceSize</key>
                <string>{111,56}</string>
            </dict>
            <key>Help_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,67},{113,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,63}}</string>
                <key>sourceSize</key>
                <string>{113,63}</string>
            </dict>
            <key>Help_Btn_Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,132},{113,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,63}}</string>
                <key>sourceSize</key>
                <string>{113,63}</string>
            </dict>
            <key>Help_Img.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,221},{299,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,237}}</string>
                <key>sourceSize</key>
                <string>{299,237}</string>
            </dict>
            <key>Setup1_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,226},{113,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,63}}</string>
                <key>sourceSize</key>
                <string>{113,63}</string>
            </dict>
            <key>Setup1_Btn_Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,291},{113,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,63}}</string>
                <key>sourceSize</key>
                <string>{113,63}</string>
            </dict>
            <key>Setup_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,2},{540,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,217}}</string>
                <key>sourceSize</key>
                <string>{540,217}</string>
            </dict>
            <key>Setup_Img.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,221},{292,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,196}}</string>
                <key>sourceSize</key>
                <string>{292,196}</string>
            </dict>
            <key>Setup_Screen_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{458,541}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{458,541}}</string>
                <key>sourceSize</key>
                <string>{458,541}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Setup.png</string>
            <key>size</key>
            <string>{1260,462}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d413758b309d4f2e9a0d820728bd62ba:d2b42590cd2adbe2b077cd48476606af:3b49874cf524ca20b94d1783231b2fb0$</string>
            <key>textureFileName</key>
            <string>Setup.png</string>
        </dict>
    </dict>
</plist>
