<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Guide_Arm_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{110,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,240}}</string>
                <key>sourceSize</key>
                <string>{110,240}</string>
            </dict>
            <key>Guide_Arm_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,182},{168,185}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,185}}</string>
                <key>sourceSize</key>
                <string>{168,187}</string>
            </dict>
            <key>Guide_Body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{254,429}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,429}}</string>
                <key>sourceSize</key>
                <string>{254,429}</string>
            </dict>
            <key>Guide_Chest.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,258},{189,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,102}}</string>
                <key>sourceSize</key>
                <string>{189,102}</string>
            </dict>
            <key>Guide_Eye1.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,248},{89,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,39}}</string>
                <key>sourceSize</key>
                <string>{89,39}</string>
            </dict>
            <key>Guide_Eye2.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,157},{89,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,39}}</string>
                <key>sourceSize</key>
                <string>{89,39}</string>
            </dict>
            <key>Guide_Glasses.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,2},{40,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,29}}</string>
                <key>sourceSize</key>
                <string>{40,29}</string>
            </dict>
            <key>Guide_Hair.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,157},{208,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,154}}</string>
                <key>sourceSize</key>
                <string>{208,154}</string>
            </dict>
            <key>Guide_Hand_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,2},{178,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,269}}</string>
                <key>sourceSize</key>
                <string>{178,269}</string>
            </dict>
            <key>Guide_Hand_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{153,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,277}}</string>
                <key>sourceSize</key>
                <string>{153,277}</string>
            </dict>
            <key>Guide_Head.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,182},{212,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,200}}</string>
                <key>sourceSize</key>
                <string>{212,200}</string>
            </dict>
            <key>Guide_Mouth.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,157},{37,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,20}}</string>
                <key>sourceSize</key>
                <string>{37,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UI_Guide_Beauty01.png</string>
            <key>size</key>
            <string>{1016,385}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9498a6ac3e2de70f68bc550f386d3a6$</string>
            <key>textureFileName</key>
            <string>UI_Guide_Beauty01.png</string>
        </dict>
    </dict>
</plist>
