<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>missile-01a-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,673},{18,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{18,53}}</string>
                <key>sourceSize</key>
                <string>{22,55}</string>
            </dict>
            <key>missile-01a-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{29,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,82}}</string>
                <key>sourceSize</key>
                <string>{29,84}</string>
            </dict>
            <key>missile-01a-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{30,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,82}}</string>
                <key>sourceSize</key>
                <string>{30,84}</string>
            </dict>
            <key>missile-4-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,399},{29,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,82}}</string>
                <key>sourceSize</key>
                <string>{29,84}</string>
            </dict>
            <key>missile-4-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{30,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,82}}</string>
                <key>sourceSize</key>
                <string>{30,84}</string>
            </dict>
            <key>missile-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{18,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{18,53}}</string>
                <key>sourceSize</key>
                <string>{22,55}</string>
            </dict>
            <key>missile-6-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{29,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,82}}</string>
                <key>sourceSize</key>
                <string>{29,84}</string>
            </dict>
            <key>missile-6-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{30,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,82}}</string>
                <key>sourceSize</key>
                <string>{30,84}</string>
            </dict>
            <key>missile-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,673},{18,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{18,53}}</string>
                <key>sourceSize</key>
                <string>{22,55}</string>
            </dict>
            <key>player5-1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{29,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,48}}</string>
                <key>sourceSize</key>
                <string>{33,48}</string>
            </dict>
            <key>player5-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,728},{14,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,48}}</string>
                <key>sourceSize</key>
                <string>{14,48}</string>
            </dict>
            <key>player5-2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,483},{29,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,60}}</string>
                <key>sourceSize</key>
                <string>{29,60}</string>
            </dict>
            <key>player5-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,787},{14,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,54}}</string>
                <key>sourceSize</key>
                <string>{14,54}</string>
            </dict>
            <key>player5-3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,607},{31,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,64}}</string>
                <key>sourceSize</key>
                <string>{31,64}</string>
            </dict>
            <key>player5-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,251},{18,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,76}}</string>
                <key>sourceSize</key>
                <string>{18,76}</string>
            </dict>
            <key>player5-4-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,2},{28,88}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{28,88}}</string>
                <key>sourceSize</key>
                <string>{34,90}</string>
            </dict>
            <key>player5-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,92},{23,85}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,85}}</string>
                <key>sourceSize</key>
                <string>{23,87}</string>
            </dict>
            <key>wingman5-1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{18,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,54}}</string>
                <key>sourceSize</key>
                <string>{18,54}</string>
            </dict>
            <key>wingman5-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,733},{15,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,52}}</string>
                <key>sourceSize</key>
                <string>{15,52}</string>
            </dict>
            <key>wingman6-1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{18,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,54}}</string>
                <key>sourceSize</key>
                <string>{18,54}</string>
            </dict>
            <key>wingman6-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,733},{15,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,52}}</string>
                <key>sourceSize</key>
                <string>{15,52}</string>
            </dict>
            <key>wingman6-2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,179},{22,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,70}}</string>
                <key>sourceSize</key>
                <string>{22,70}</string>
            </dict>
            <key>wingman6-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,728},{15,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,57}}</string>
                <key>sourceSize</key>
                <string>{15,57}</string>
            </dict>
            <key>wingman6-3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,545},{22,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,60}}</string>
                <key>sourceSize</key>
                <string>{22,60}</string>
            </dict>
            <key>wingman6-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{20,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,58}}</string>
                <key>sourceSize</key>
                <string>{20,58}</string>
            </dict>
            <key>wingman6-4-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{29,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,88}}</string>
                <key>sourceSize</key>
                <string>{31,88}</string>
            </dict>
            <key>wingman6-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,329},{20,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,68}}</string>
                <key>sourceSize</key>
                <string>{20,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>missile.png</string>
            <key>size</key>
            <string>{64,803}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af4132a5441a5a7f634ddf3821a4bb03:f0320ff8a0cf198b02e46c910c1cffa4:af37c4845d2c513b46d67342119e9e19$</string>
            <key>textureFileName</key>
            <string>missile.png</string>
        </dict>
    </dict>
</plist>
