<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GameUI_Light1.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{218,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,69}}</string>
                <key>sourceSize</key>
                <string>{218,69}</string>
            </dict>
            <key>GameUI_Light2.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{149,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,70}}</string>
                <key>sourceSize</key>
                <string>{149,70}</string>
            </dict>
            <key>GameUI_Light3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{229,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,58}}</string>
                <key>sourceSize</key>
                <string>{229,58}</string>
            </dict>
            <key>GameUI_Light4.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,2},{149,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,70}}</string>
                <key>sourceSize</key>
                <string>{149,70}</string>
            </dict>
            <key>GameUI_Light5.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,2},{93,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,89}}</string>
                <key>sourceSize</key>
                <string>{93,89}</string>
            </dict>
            <key>GameUI_Txt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,74},{149,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,40}}</string>
                <key>sourceSize</key>
                <string>{149,40}</string>
            </dict>
            <key>GameUI_Txt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,44},{149,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,40}}</string>
                <key>sourceSize</key>
                <string>{149,40}</string>
            </dict>
            <key>GameUI_Txt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,2},{149,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,40}}</string>
                <key>sourceSize</key>
                <string>{149,40}</string>
            </dict>
            <key>GameUI_Txt4.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,73},{149,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,40}}</string>
                <key>sourceSize</key>
                <string>{149,40}</string>
            </dict>
            <key>GameUI_Txt5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{150,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,40}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>GameUI_Txt6.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,74},{93,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,39}}</string>
                <key>sourceSize</key>
                <string>{93,39}</string>
            </dict>
            <key>GameUI_Txt7.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,73},{125,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,40}}</string>
                <key>sourceSize</key>
                <string>{125,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameUI_Txt.png</string>
            <key>size</key>
            <string>{997,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9da9e8f19be1fd7633652e7af4b3403c$</string>
            <key>textureFileName</key>
            <string>GameUI_Txt.png</string>
        </dict>
    </dict>
</plist>
