<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Best_Distance.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,457},{295,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,34}}</string>
                <key>sourceSize</key>
                <string>{295,34}</string>
            </dict>
            <key>Connecting_Web.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,364},{309,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,30}}</string>
                <key>sourceSize</key>
                <string>{309,30}</string>
            </dict>
            <key>Continue_Btn_Down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,303},{212,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{212,59}}</string>
                <key>sourceSize</key>
                <string>{212,63}</string>
            </dict>
            <key>Continue_Btn_Up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,329},{210,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,63}}</string>
                <key>sourceSize</key>
                <string>{212,63}</string>
            </dict>
            <key>Current_Distance.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,396},{295,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,34}}</string>
                <key>sourceSize</key>
                <string>{295,34}</string>
            </dict>
            <key>Distance_Rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{347,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,34}}</string>
                <key>sourceSize</key>
                <string>{347,34}</string>
            </dict>
            <key>Get_Piece_Txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,455},{121,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,21}}</string>
                <key>sourceSize</key>
                <string>{121,21}</string>
            </dict>
            <key>Get_Rank_Failed.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,38},{339,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,32}}</string>
                <key>sourceSize</key>
                <string>{339,32}</string>
            </dict>
            <key>Lose_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,325}}</string>
                <key>sourceSize</key>
                <string>{500,325}</string>
            </dict>
            <key>Retry_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,432},{110,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,58}}</string>
                <key>sourceSize</key>
                <string>{110,58}</string>
            </dict>
            <key>Retry_Btn_Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,2},{110,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,58}}</string>
                <key>sourceSize</key>
                <string>{110,58}</string>
            </dict>
            <key>Settle_Num1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{406,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,56}}</string>
                <key>sourceSize</key>
                <string>{406,56}</string>
            </dict>
            <key>Vip_Btn_2_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,394},{205,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,59}}</string>
                <key>sourceSize</key>
                <string>{205,59}</string>
            </dict>
            <key>Vip_Btn_2_Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,432},{205,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,59}}</string>
                <key>sourceSize</key>
                <string>{205,59}</string>
            </dict>
            <key>Vip_Piece_Prompt.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,213},{251,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,18}}</string>
                <key>sourceSize</key>
                <string>{251,18}</string>
            </dict>
            <key>Win_Star.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,72},{175,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,170}}</string>
                <key>sourceSize</key>
                <string>{175,170}</string>
            </dict>
            <key>Win_Star_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,387},{125,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,121}}</string>
                <key>sourceSize</key>
                <string>{125,121}</string>
            </dict>
            <key>Win_Txt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,143},{185,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,68}}</string>
                <key>sourceSize</key>
                <string>{185,68}</string>
            </dict>
            <key>Win_Txt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,244},{185,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,69}}</string>
                <key>sourceSize</key>
                <string>{185,69}</string>
            </dict>
            <key>Win_Txt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,72},{184,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,69}}</string>
                <key>sourceSize</key>
                <string>{184,69}</string>
            </dict>
            <key>Win_Txt4.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,387},{269,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,68}}</string>
                <key>sourceSize</key>
                <string>{269,68}</string>
            </dict>
            <key>Win_Txt5.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,233},{233,68}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,68}}</string>
                <key>sourceSize</key>
                <string>{269,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Settle.png</string>
            <key>size</key>
            <string>{934,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:426ff79c4e42e8f5ea666baf3a6d404c:846371de20e06855bb4df296ea393919:e2f712a0acc7ed9b07c4e088ab862553$</string>
            <key>textureFileName</key>
            <string>Settle.png</string>
        </dict>
    </dict>
</plist>
