<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Shop_Bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{407,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,216}}</string>
                <key>sourceSize</key>
                <string>{407,216}</string>
            </dict>
            <key>Shop_Bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,2},{407,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,216}}</string>
                <key>sourceSize</key>
                <string>{407,216}</string>
            </dict>
            <key>Shop_Bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,2},{153,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,212}}</string>
                <key>sourceSize</key>
                <string>{153,212}</string>
            </dict>
            <key>Shop_Bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,2},{153,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,212}}</string>
                <key>sourceSize</key>
                <string>{153,212}</string>
            </dict>
            <key>Shop_Bg5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,2},{153,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,212}}</string>
                <key>sourceSize</key>
                <string>{153,212}</string>
            </dict>
            <key>Shop_Bg6.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,2},{407,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,216}}</string>
                <key>sourceSize</key>
                <string>{407,216}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Shop.png</string>
            <key>size</key>
            <string>{1694,220}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd28cb00ea17f4ba52ac14a567782cca:36149e7f2addd9abf55f7a3dda7586a8:366a70e5947bb481e152b2f139bc3c30$</string>
            <key>textureFileName</key>
            <string>Shop.png</string>
        </dict>
    </dict>
</plist>
