<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Start_Fire_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,327},{235,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,276}}</string>
                <key>sourceSize</key>
                <string>{235,276}</string>
            </dict>
            <key>Start_Fire_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,605},{255,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,95}}</string>
                <key>sourceSize</key>
                <string>{255,95}</string>
            </dict>
            <key>Start_Glass.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{534,682}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,682}}</string>
                <key>sourceSize</key>
                <string>{534,684}</string>
            </dict>
            <key>Start_Missile.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,852},{140,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,132}}</string>
                <key>sourceSize</key>
                <string>{140,132}</string>
            </dict>
            <key>Start_Missile_Gass.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{238,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,323}}</string>
                <key>sourceSize</key>
                <string>{238,323}</string>
            </dict>
            <key>Start_Plane_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{655,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{655,406}}</string>
                <key>sourceSize</key>
                <string>{655,406}</string>
            </dict>
            <key>Start_Plane_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,702},{202,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,148}}</string>
                <key>sourceSize</key>
                <string>{202,148}</string>
            </dict>
            <key>Start_Txt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,538},{115,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,20}}</string>
                <key>sourceSize</key>
                <string>{115,20}</string>
            </dict>
            <key>Start_Txt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,946},{20,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,19}}</string>
                <key>sourceSize</key>
                <string>{20,19}</string>
            </dict>
            <key>Start_Txt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,946},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>Start_Txt4.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,699},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>Start_Txt5.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,677},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>Start_Txt6.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,946},{20,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,19}}</string>
                <key>sourceSize</key>
                <string>{20,19}</string>
            </dict>
            <key>Start_Txt7.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,655},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Start.png</string>
            <key>size</key>
            <string>{938,986}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a99b3b8b27445d09d05fd863947cea57$</string>
            <key>textureFileName</key>
            <string>Start.png</string>
        </dict>
    </dict>
</plist>
