<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_hit_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>bullet_hit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,15},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>laser_hit_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{201,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,153}}</string>
                <key>sourceSize</key>
                <string>{201,153}</string>
            </dict>
            <key>laser_hit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,2},{201,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,153}}</string>
                <key>sourceSize</key>
                <string>{201,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BulletHit.png</string>
            <key>size</key>
            <string>{422,157}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b62b8ec35fe07e33c034763fb0299d8d:2aa7dde53e8e491261ff9928d49524ca:f00196ab69886ce4cb1a3b9ee0b85c2b$</string>
            <key>textureFileName</key>
            <string>BulletHit.png</string>
        </dict>
    </dict>
</plist>
