<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>images/Vactory_Txt1.png</key>
			<dict>
				<key>width</key>
				<integer>293</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>293</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>images/Vactory_Txt2.png</key>
			<dict>
				<key>width</key>
				<integer>293</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>293</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>295</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>images/Vactory_Lightline.png</key>
			<dict>
				<key>width</key>
				<integer>410</integer>
				<key>height</key>
				<integer>57</integer>
				<key>originalWidth</key>
				<integer>410</integer>
				<key>originalHeight</key>
				<integer>57</integer>
				<key>x</key>
				<integer>590</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>images/Vactory_Body.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>99</integer>
				<key>originalHeight</key>
				<integer>82</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>95</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>images/Vactory_Head.png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>86</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>101</integer>
				<key>y</key>
				<integer>95</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>images/Vactory_Wing1_L.png</key>
			<dict>
				<key>width</key>
				<integer>103</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>103</integer>
				<key>originalHeight</key>
				<integer>112</integer>
				<key>x</key>
				<integer>189</integer>
				<key>y</key>
				<integer>95</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>images/Vactory_Wing1_R.png</key>
			<dict>
				<key>width</key>
				<integer>103</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>103</integer>
				<key>originalHeight</key>
				<integer>112</integer>
				<key>x</key>
				<integer>294</integer>
				<key>y</key>
				<integer>95</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>images/Vactory_Wing2_R.png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>86</integer>
				<key>originalHeight</key>
				<integer>59</integer>
				<key>x</key>
				<integer>399</integer>
				<key>y</key>
				<integer>95</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>images/Vactory_Wing3_R.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>79</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>487</integer>
				<key>y</key>
				<integer>95</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>images/Vactory_Wing2_L.png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>86</integer>
				<key>originalHeight</key>
				<integer>59</integer>
				<key>x</key>
				<integer>568</integer>
				<key>y</key>
				<integer>95</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>images/Vactory_Bg.png</key>
			<dict>
				<key>width</key>
				<integer>444</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>444</integer>
				<key>originalHeight</key>
				<integer>122</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>209</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>images/Vactory_Wing3_L.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>79</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>446</integer>
				<key>y</key>
				<integer>209</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>UI_Victory0.png</string>
			<key>realTextureFileName</key>
			<string>UI_Victory0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>